services:
  mongo:
    image: mongo:latest
    hostname: mongo
    ports:
      - "27017:27017"

    networks:
      - app-network

  postgres:
    hostname: postgres
    container_name: postgres_container
    image: postgres:17-alpine3.19
    restart: unless-stopped
    ports:
      - "5432:5432"

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    networks:
      - app-network

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

    networks:
      - app-network

    depends_on: [ mongo, postgres ]

  redis-insight:
    image: redis/redisinsight:latest
    restart: always
    depends_on:
      - redis
    ports:
      - "5540:5540"

    networks:
      - app-network

    volumes:
      - redis-insight:/data

  api:
    build: ./api-countries
    ports:
      - "8080:8080"
    environment:
      port: "8080"
      datasource.url: "jdbc:postgresql://postgres/countries"
      datasource.user: "postgres"
      datasource.password: "postgres"
      mongo.host: "mongo"
      mongo.port: "27017"
      mongo.database: "mongo"
      log_path: /usr/app/logs/application.log

    volumes:
      - logs:/usr/app/logs

    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "4"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

    networks:
      - app-network

    depends_on: [ mongo, postgres, redis, redis-insight ]

  api-gateway:
    build: ./api-gateway
    ports:
      - "8091:8091"

    networks:
      - app-network

    depends_on: [ api ]

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "4"

    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - app-network

    depends_on: [ api-gateway ]

  loki:
    image: grafana/loki:2.9.3
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "4"

    networks:
      - app-network

    depends_on: [ api-gateway ]

  promtail:
    image: grafana/promtail:2.9.3
    container_name: promtail
    volumes:
      - ./promtail-config.yaml:/etc/promtail/promtail-config.yaml
      - logs:/app/logs
    command: -config.file=/etc/promtail/promtail-config.yaml
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "4"

    networks:
      - app-network

    depends_on: [ api-gateway ]

networks:
  app-network:

volumes:
  redis-insight:
  grafana-data:
  logs:


