services:
  mongo:
    image: mongo:latest
    hostname: mongo
    ports:
      - "27017:27017"

    environment:
      MONGO_HOST: ${MONGO_HOST}
      MONGO_PORT: ${MONGO_PORT}
      MONGO_DB: ${MONGO_DB}

    networks:
      - app-network

  postgres:
    container_name: postgres
    image: postgres:17
    restart: unless-stopped
    ports:
      - "5432:5432"

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - ../2. Init Database:/docker-entrypoint-initdb.d
      - postgres-data:/var/lib/postgresql/data

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

    logging:
      #limit logs to 200MB (4 rotations of 50M each)
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "4"

    networks:
      - app-network

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

    networks:
      - app-network

    depends_on: [ mongo, postgres ]

  redis-insight:
    image: redis/redisinsight:latest
    restart: always
    depends_on:
      - redis
    ports:
      - "5540:5540"

    networks:
      - app-network

    volumes:
      - redis-insight:/data

  api:
    build: ./api-countries
    ports:
      - "8080:8080"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

      MONGO_HOST: ${MONGO_HOST}
      MONGO_PORT: ${MONGO_PORT}
      MONGO_DB: ${MONGO_DB}
      COUNTRY_URL: ${COUNTRY_URL}

      log_path: /usr/app/logs/application.log

    volumes:
      - logs:/usr/app/logs

    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "4"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

    networks:
      - app-network

    depends_on: [ mongo, postgres, redis, redis-insight ]

  api-gateway:
    build: ./api-gateway
    ports:
      - "8091:8091"

    environment:
      COUNTRY_SERVICE_URL: ${COUNTRY_SERVICE_URL}

    networks:
      - app-network

    depends_on: [ api ]

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "4"

    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - app-network

    depends_on: [ api-gateway ]

  loki:
    image: grafana/loki:2.9.3
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "4"

    networks:
      - app-network

    depends_on: [ api-gateway ]

  promtail:
    image: grafana/promtail:2.9.3
    container_name: promtail
    volumes:
      - ./promtail-config.yaml:/etc/promtail/promtail-config.yaml
      - logs:/app/logs
    command: -config.file=/etc/promtail/promtail-config.yaml
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "4"

    networks:
      - app-network

    depends_on: [ api-gateway ]

  broker:
    image: apache/kafka:latest
    container_name: broker
    restart: always
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENERS: 'PLAINTEXT://:9092,CONTROLLER://:9093'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://broker:9092'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@broker:9093'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CLUSTER_ID: 'r4zt_wrqTRuT7W2NJsB_GA'

    healthcheck:
      test: [ "CMD-SHELL", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server 127.0.0.1:9092 --list" ]
      interval: 20s
      timeout: 15s
      retries: 5
      start_period: 30s

    networks:
      - app-network

    depends_on: [ api-gateway ]

  kafka-ui:
    image: ghcr.io/kafbat/kafka-ui
    container_name: kafka-ui
    restart: always
    ports:
      - "8092:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=local-kafka-cluster
      - KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS=broker:9092
      - DYNAMIC_CONFIG_ENABLED=true

    networks:
      - app-network

    depends_on: [ broker ]

networks:
  app-network:

volumes:
  postgres-data:
  redis-insight:
  grafana-data:
  logs:


