apiVersion: apps/v1
kind: Deployment
metadata:
  name: country-gateway-deployment
spec:
  selector:
    matchLabels:
      app: gateway
  replicas: 1
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: docker.hub/country-gateway
          env:
            - name: COUNTRY_SERVICE_URL
              value: "http://country-service.default:8080"
            - name: SERVER_PORT
              value: '8091'

